.contact-form {
  columns: 2;

  .form-field {
    margin-bottom: 1rem;
  } 

  textarea {
    min-height: 12.8em;
  }

  button {
    margin-left: auto;

    @media (max-width: $break-xs) {
      margin: auto;
    }
  }

  & > footer {
    column-span: all;
    position: relative;
    display: flex;
    align-items: center;
  }

  .file-upload {
    flex-grow: 1;
    margin-right: 1rem;
  }

  .status {
    position: absolute;
    z-index: 1;
    top: calc(100% + #{$grid-gutter} / 2);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      @extend .alert-message;
      position: absolute;
      text-align: center;
      margin: 0;
    }
  }

  @media (max-width: $break-lg) {
    columns: 1;
  }
}
