.content-card {

  > .body {
    background: $white;
    border-radius: $box-radius;
    padding: 2 * $grid-gutter;
    box-shadow: 0 .07rem .5rem 0 $shadow-light;

    @media (max-width: $break-xs) {
      padding: 1.5 * $grid-gutter;
    }
  }      

  > .title {
    margin: 0 (2 * $grid-gutter) 1rem;

    @media (max-width: $break-xs) {
      margin: 0 (1.5 * $grid-gutter) 1rem;
    }
  }

  img {
    margin-left: auto;
    margin-right: auto;

    + * {
      margin-top: 1.5 * $grid-gutter;
    }
  }

  @media (max-width: $break-xs) {
    .cta-button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
