.social-icons {
  display: flex;
  align-items: center;

  li + li {
    margin-left: $grid-gutter;

    @media (max-width: $break-xs) {
      margin-left: $grid-gutter * 1.8;
    }
  }

  svg {
    max-width: 1.3em;
    max-height: 1.3em;

    path {
      fill: $white;
    }
  }
}
