<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <div class="container">
        <article class="content-card">
            <h1 class="title">A bit more about me</h1>
            <div class="body">
                <p>I am a qualified proofreader with specialist knowledge in natural history and wildlife conservation and a background in science.</p>

                <img class="profile-image" src="/img/katy.jpg" alt="Photo of Katy">

                <p>After graduating from the University of Nottingham with a degree in Zoology in 2008 I started a career in wildlife conservation. More recently I have turned to my other passion, words and the English language, a change which has been precipitated by illness and the need to do something more sedentary.</p>
                <p>While I still keep up with my interest in the natural world&mdash;my bookshelf is stuffed with species identification books and I am part of the management team of a local conservation group&mdash;I now work as a proofreader.</p>
                <p>I really enjoy the challenge of searching for and correcting mistakes in a piece of writing&mdash;I find there’s something innately satisfying about ensuring that a text has no errors within it that will distract the reader. I relish figuring out how grammatical, spelling, and punctuation errors can be rectified. The wildlife books now compete for space with English language reference books!</p>

                <h2>Qualifications</h2>
                <ul>
                    <li>Member of the Chartered Institute of Editors and Proofreaders.</li>
                    <li>Basic Proofreading V4 (ELE) by Distance Learning, The Publishing Training Centre: Pass with Merit </li>
                    <li>Proofreading 3: Progress, the Chartered Institute of Editors and Proofreaders: Pass </li>
                    <li>BSc Zoology (Hons), University of Nottingham: 2:1</li>
                </ul>
                <img class="sfep-badge" src="/img/sfep-badge.png" alt="SfEP Entry-Level Member">

                <a class="cta-button" href="/#contact">Get a quote now</a>
            </div>
        </article>
    </div>
</main>

<%- include('partials/tail') %>
