<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <div class="container">
        <article class="content-card">
            <h1 class="title">Nothing yet! Watch this space</h1>
            <div class="body">
                <p>I haven't written anything yet, but I'm getting closer every day. Check back soon for words from my brain.</p>
                <div class="symbols"><%- include('assets/symbols.svg') %></div>
                <a class="cta-button" href="/#contact">Get a quote now</a>
            </div>
        </article>
    </div>
</main>

<%- include('partials/tail') %>
