<%- include('partials/head') %>

<header class="site-header">
    <div class="container">
        <a class="logo" href="/"><%- include('assets/logo-compact.svg') %></a>
        <%- include('partials/menu') %>
    </div>
</header>

<main>
    <div class="container">
        <div>
            <h1>Watch this space</h1>
            <p>I haven't written anything yet, but I'm getting closer every day. Check back soon for words from my brain.</p>
        </div>
        <a class="cta-button" href="/#contact">Get a quote now</a>
    </div>
</main>

<%- include('partials/tail') %>
