<%- include('partials/head') %>

<header class="hero-header">
    <img class="background" src="/img/hero-trees.jpg" alt>
    <div class="logo-block"><%- include('assets/logo.svg') %></div>
</header>

<nav class="nav-menu">
    <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<main>
    <section class="intro -medium">
        <div class="container">
            <div>
                <h1>Execepteur sint occaecat</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
            <a class="cta-button" href="#contact">Ask an expert</a>
        </div>
    </section>

    <section class="bio -medium">
        <div class="container">
            <img src="/img/katy.jpg" alt="Photo of Katy">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris, labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>
    </section>

    <section class="about -light">
        <div class="container">
            <div>
                <img class="section-image" src="" alt>
                <h1>Execepteur sint occaecat</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris, labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                <a class="cta-button" href="#contact">Ask an expert</a>
            </div>
        </div>
    </section>

    <section class="quote -dark -slim">
        <div class="container">
            <div class="symbol-group">[#&para;</div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    </section>

    <section class="services -medium">
        <div class="container">
            <div>
                <h1>Excepteur sint occaecat sed do eiusmod</h1>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="-light">
        <div class="container">
            <h1>Get in touch, request a quote</h1>
            <form class="contact-form">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="your name">
                <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="your phone number">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="your email address">
                <label for="message">How can I help?</label>
                <textarea name="message"></textarea>
                <button type="submit" class="cta-button">Let's chat</button>
            </form>
        </div>
    </section>
</main>

<%- include('partials/tail') %>
