<%- include('partials/head') %>

<header class="hero-header">
    <img class="background" src="/img/hero-trees.jpg" alt>
    <div class="logo-block"><%- include('assets/logo.svg') %></div>
</header>

<nav class="nav-menu">
    <ul>
        <li><a href="#top">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<main>
    <section class="container -medium">
        <h1>Execepteur sint occaecat</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        <a class="cta-button" href="#contact">Ask an expert</a>
    </section>

    <section class="container -medium">
        <img class="bio-image" src="#contact" alt>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris, labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </section>

    <section class="container -light">
        <img class="section-image" src="" alt>
        <h1>Execepteur sint occaecat</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris, labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        <a class="cta-button" href="#contact">Ask an expert</a>
    </section>

    <section class="container -dark">
        <div class="symbol-group">[#&para;</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </section>

    <section class="container -medium">
        <h1>Excepteur sint occaecat sed do eiusmod</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        </ul>
    </section>

    <section class="container -light">
        <h1>Get in touch, request a quote</h1>
        <form class="contact-form">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="your name">
            <label for="phone">Phone</label>
            <input type="text" name="phone" placeholder="your phone number">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="your email address">
            <label for="message">How can I help?</label>
            <textarea name="message"></textarea>
            <button type="submit" class="cta-button">Let's chat</button>
        </form>
    </section>
</main>

<%- include('partials/tail') %>
