<%- include('partials/head') %>

<header class="hero-header">
    <div class="background parallax" style="background-image: url('/img/trees.jpg')"></div>
    <div class="logo-block"><%- include('assets/logo.svg') %></div>
    <a class="scroll-hint -hidden" href="#menu" data-no-url>Scroll down</a>
</header>

<nav id="menu" class="nav-menu">
    <ul>
        <li><a href="#intro">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<main>
    <section id="intro" class="intro -medium">
        <div class="container">
            <div>
                <h1>Meticulous document reviews for students and professionals</h1>
                <p>I am a freelance proofreader with a background in natural history and wildlife conservation. Whether you are a publisher, self-publisher, business, charity, blog writer or student, I can provide you with a meticulous, high quality service.</p>
            </div>
            <a class="cta-button" href="#contact">Get a quote now</a>
        </div>
    </section>

    <section id="about" class="bio -medium">
        <div class="container">
            <img src="/img/katy.jpg" alt="Photo of Katy">
            <div>
                <p>I am passionate about words and the English language, and I always have my nose in a book. After originally graduating as a zoologist, my main focus is now on language and how it works. Grammar, spelling, and punctuation are my watchwords!</p>
                <a class="cta-button -light" href="about">Read my story</a>
            </div>
        </div>
    </section>

    <section class="about -light">
        <div class="container">
            <div>
                <h1>What is proofreading?</h1>
                <p>Proofreading is the art of reading a document or publication to detect and correct errors in the text. These errors may be simple typos, gramatical mistakes or problems with the way text is laid out on a page.</p>
                <p>I provide a range or proofreading services from basic to the works. It's up to you to choose how much you need.</p>
                <a class="cta-button" href="#services">See all services</a>
            </div>
        </div>
        <div class="section-image -right"><img src="/img/type.jpg" alt></div>
    </section>

    <section class="quote -dark -slim -small">
        <div class="container">
            <div class="symbol-group">[#&para;</div>
            <div>
                <h1>What are those marks?</h1>
                <p>The British Standards Institution's proof-correction marks are recognised throughout Britain and increasingly around the world. They are added to an electronic or paper document by a proofreader or editor to indicate and correct problems in a text.</p>
            </div>
        </div>
    </section>

    <section id="services" class="services -medium">
        <div class="container">
            <div>
                <h1>Proofreading for any budget</h1>
                <p>I provide a versatile proofreading service, ranging from a basic check for grammar, spelling and punctuation to a full proofread where I check layout and the positioning of material.</p>
                <p>I make corrections where things are wrong but I won't make changes if they’re not needed and I will query anything in your text that needs clarification.</p>
                <ul>
                    <li>Basic checks for grammar and spelling</li>
                    <li>Full proofread with layout and positioning adjustments</li>
                    <li>Onscreen markup with BSI symbols</li>
                    <li>Markup using Adobe Reader's Comment Tools and Microsoft Word's Track Changes</li>
                    <li>Markup on paper using BSI symbols for hard copies</li>
                </ul>
                <p>Note for students: Although most universities allow a professional proofreader to check your work, you should consult your university's guidelines on proofreading before contacting me.</p>
            </div>
        </div>
    </section>

    <section id="contact" class="contact -light">
        <div class="container">
            <div>
                <h1>Get in touch, request a quote</h1>
                <p>Have questions or want to find out what I can do for your project? Just send me a message and I'll be in touch.</p>
                <form class="contact-form">
                    <div class="form-field">
                        <label for="name">Name</label>
                        <input type="text" required name="name" placeholder="your name">
                    </div>
                    <div class="form-field">
                        <label for="phone">Phone</label>
                        <input type="phone" name="phone" placeholder="your phone number">
                    </div>
                    <div class="form-field">
                        <label for="email">Email</label>
                        <input type="email" required name="email" placeholder="your email address">
                    </div>
                    <div class="form-field">
                        <label for="message">How can I help?</label>
                        <textarea required name="message"></textarea>
                    </div>
                    <div class="message">
                        <p class="success">Your message has been sent</p>
                        <p class="error">Something went wrong. Please try again</p>
                    </div>
                    <button type="submit" class="cta-button">
                        <span class="label">Send message</span>
                        <span class="busy">Sending</span>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>

<%- include('partials/tail') %>
