<% const active = (name) => (type.split(' ').includes(name) ? '-active' : '') %>
<nav id="menu" class="nav-menu">
    <ul>
        <li class="<%- active('about') %>"><a href="/#intro">About</a></li>
        <li><a href="/#services">Services</a></li>
        <li class="<%- active('blog') %>"><a href="/blog">Blog</a></li>
        <li><a href="/#contact">Contact</a></li>
    </ul>
</nav>
