.page.about {
  article .profile-image {
    @media (min-width: $break-sm) {
      float: left;
      margin-right: $grid-gutter;
      margin-bottom: $grid-gutter * 1.5;
      max-width: 20em;

      & + p + p {
        clear: left;
      }
    }

    width: 30em;
    max-width: 80%;
  }

  .ciep-badge {
    max-width: 15rem;
  }

  .cta-button {
    margin-left: auto;
    margin-right: auto;
  }
}
