.page.about {
  article .profile-image {
    @media (min-width: $break-sm) {
      float: left;
      margin-right: $grid-gutter;
      max-width: 20em;
    }

    width: 30em;
    max-width: 80%;
  }

  .sfep-badge {
    max-width: 15rem;
  }
}
