.page.blog {
  .symbols {
    margin-bottom: -2rem;
    margin-left: 2rem;

    svg {
      width: 16rem;
      height: auto;

      path {
        fill: $light-grey;
      }
    }

    @media (max-width: 760px) {
      margin-bottom: 0;
    }

    @media (max-width: 620px) {
      margin-bottom: $grid-gutter;
    }

    @media (max-width: $break-xs) {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cta-button {
    margin-left: auto;
  }
}
