.homepage {
  .hero-header {
    width: 100%;
    height: 90vh;
  } 

  .intro > .container {
    @extend %cols-8-4;

    & > .cta-button {
      justify-self: end;
      align-self: center;
    }
  }

  .bio > .container {
    @extend %cols-3-9;
  }

  .about > .container {
    @extend %cols-6-6;

    .cta-button {
      align-self: center;
    }
  }

  .quote > .container {
    @extend %cols-1-11;

    .symbol-group {
      font-size: $text-xxxl;
      align-self: center;
      color: $light-grey;
    }

    p {
      font-size: $text-sm;
    }
  }

  .services > .container {
    
  }
}
