.homepage {
  .hero-header {
    width: 100%;
    height: calc(100vh - 3.6rem);
    height: calc(var(--vh, 1vh) * 100 - 3.6rem);
  } 

  .intro > .container {
    @extend %cols-8-4;

    .cta-button {
      justify-self: end;

      @media (max-width: $break-lg) {
        justify-self: center;
      }
    }
  }

  .bio > .container {
    @extend %cols-3-9;

    .cta-button {
      margin-left: auto;
      margin-right: auto;
    }

    img {
      @media (max-width: $break-md) {
        justify-self: center;
      }
    }
  }

  .about > .container {
    @extend %cols-6-6;

    .cta-button {
      align-self: center;
    }
  }

  .quote > .container {
    @extend %cols-1-11;

    .symbol-group {
      font-size: $text-xxxl;
      color: $light-grey;
    }
  }

  .services {
    h1 {
      align-self: center;
    }

    ul {
      margin-top: $grid-gutter * 3;
      columns: 2;

      @media (max-width: $break-lg) {
        columns: 1;
      }
    }
  }

  .contact > .container {
    justify-content: stretch;
    width: 100%;
  }
}
