.homepage {
  .hero-header {
    width: 100%;
    height: 90vh;
  } 

  .intro > .container {
    @extend %cols-8-4;

    > .cta-button {
      justify-self: end;
    }
  }

  .bio > .container {
    @extend %cols-3-9;
  }

  .about > .container {
    @extend %cols-6-6;

    .cta-button {
      align-self: center;
    }
  }

  .quote > .container {
    @extend %cols-1-11;

    .symbol-group {
      font-size: $text-xxxl;
      color: $light-grey;
    }

    p {
      font-size: $text-sm;
    }
  }

  .services {
    h1 {
      align-self: center;
    }

    ul {
      margin-top: $grid-gutter * 3;
      columns: 2;
    }
  }

  .contact > .container {
    justify-content: stretch;
  }
}
