$white: #fff;
$black: #000;
$purple: #5f5b7b;
$light-purple: #938bd0;
$light-grey: #e0e0e2;
$dark-grey: #3a3f32;

$overlay-light: rgba($white, .22);
$overlay-vlight: rgba($white, .10);
$overlay-dark: rgba($black, .22);

$shadow-light: rgba($black, .1);
$shadow-dark: rgba($black, .3);
