main {
  h1 {
    font-size: $text-xxl;
    line-height: 1.2;
    color: $purple;
  }

  p,
  ol,
  ul {
    font-size: $text-md;
    line-height: 1.5;
    letter-spacing: .05em;
    color: $dark-grey;
  }

  ul {
    list-style-type: none;

    li {
      padding-left: 1.7em;
      text-indent: -1.2em;

      &::before {
        content: '\2014';
        font-weight: 400;
        color: $purple;
        position: relative;
        left: -.5em;
      }
    }

  }

  h1,
  h2,
  h3,
  p,
  ol,
  ul {
    + * {
      margin-top: $grid-gutter * 1.5;
    }
  }

  li + li {
    margin-top: $grid-gutter * .8;
  }

  img {
    border-radius: $box-radius;
  }
}
