html,
body {
  font-family: Merriweather;
  font-weight: 300;
  font-size: $text-default;
  min-width: 350px;

  @media (max-width: $break-sm) {
    font-size: $text-mobile;
  }
}

main {
  background: $white;
}

* {
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

button {
  font-family: inherit;
}

em {
  font-style: italic;
}
