h1 {
  font-size: $text-xl;
  color: $purple;

  + * {
    margin-top: $grid-gutter;
  }
}

p,
ol,
ul {
  font-size: $text-md;
  line-height: 1.5;
  letter-spacing: .05em;
  color: $dark-grey;

  + * {
    margin-top: $grid-gutter;
  }
}
