.alert-message {
  padding: .5em 1em;
  border-radius: $box-radius;
  background: $light-grey;
  color: $purple;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms, visibility 0s linear 500ms;

  &.-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms, visibility 0s;
  }

  @media (max-width: $break-md) {
    font-size: $text-sm;
  }
}
