.alert-message {
  padding: .5em 1em;
  border-radius: $box-radius;
  background: $light-grey;
  color: $purple;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s;

  &.-visible {
    opacity: 1;
    visibility: visible;
  }
}
