.contact-form {
  columns: 2;

  .form-field {
    margin-bottom: 1rem;
  } 

  textarea {
    min-height: 12.8em;
  }

  button {
    margin-left: auto;

    @media (max-width: $break-xs) {
      margin: auto;
    }
  }

  @media (max-width: $break-lg) {
    columns: 1;
  }
}
