.cta-button {
  background: $purple;
  color: $white; 
  font-size: $text-lg;
  text-decoration: none;
  border-radius: $box-radius;
  padding: .45em 1.2em;
  box-shadow: 0 .07rem .2rem .1rem $shadow;
}
