.form-field {
  position: relative;
  padding-top: 1.5em;

  > input[type='text'],
  > textarea {
    background: $white;
    border: 1px solid $dark-grey;
    border-radius: $box-radius;
    padding: .8em;
    font-size: $text-sm;
  }

  > label {
    position: absolute;
    top: 0;
    color: $dark-grey;
  }
}
