.nav-menu {
  background: $purple;
  text-transform: uppercase;
  
  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: .15em;

  }

  li {
    border-width: 0 1px;
    border-color: $overlay-vlight;
    border-style: solid;

    & + li {
      border-left: 0;
    }

    @media (max-width: $break-xs) {
      border: 0;
    }
  }

  a {
    color: $white;
    display: block;
    padding: 1.3em 1.5em;
    text-decoration: none;

    @media (max-width: $break-xs) {
      padding: 1.3em .5em;
    }
  }
}
