section {
  padding: $grid-gutter * 4;    
  position: relative;

  &.-light {
    background: $white;
  }

  &.-medium {
    background: $light-grey;
  }

  &.-dark {
    background: $dark-grey;

    p,
    ol,
    ul {
      color: $light-grey;
    }
  }
}

section.-light + section.-light,
section.-medium + section.-medium {
  &::before {
    @extend %container;
    content: '';
    display: block;
    border-top: 2px solid $purple;
    position: relative;
    top: $grid-gutter * -4;
  }
}
