section {
  padding: $grid-gutter * 4;    

  &.-light {
    background: $white;
  }

  &.-medium {
    background: $light-grey;
  }

  &.-dark {
    background: $dark-grey;

    p,
    ol,
    ul {
      color: $light-grey;
    }
  }
}
