.site-header {
  padding: 1rem 0;
  background: $white;
  box-shadow: 0 0 .5rem 0 $shadow;
  margin-bottom: .5rem;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    display: block;

    svg path {
      fill: $purple;
    }
  }
}
