.site-header {
  padding: 1.2rem 0;
  background: $white;
  box-shadow: 0 0 .5rem 0 $shadow-light;
  margin-bottom: .5rem;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $break-xs) {
      flex-direction: column;

      .nav-menu {
        margin-top: $grid-gutter;
      }
    }
  }

  .logo {
    display: block;

    svg path {
      fill: $purple;
    }
  }
}
